<DependencyInspectorApp>
	<PathToCheck>C:\test</PathToCheck>
	<RootPath></RootPath>
	<ResultsLog></ResultsLog>
	<ErrorLog></ErrorLog>
	<Options>
		<ExcludeInstances />
		<ExcludeExternal />
		<TestsInSeparateGroup />
		<TopLevelOnly />
		<CircularDependenciesOnly />
		<Quiet />
	</Options>
	<Filters>
		<SourceFilter>
			<Field>Name</Field>
			<!-- Name | QualifiedName | Path -->
			<ComparisonType></ComparisonType>
			<!-- None | EndsWith | Equals | NotEquals | Starts With | Contains | MatchesPattern -->
			<Pattern></Pattern>
		</SourceFilter>
		<TargetFilter>
			<Field></Field>
			<!-- Name | QualifiedName | Path -->
			<ComparisonType></ComparisonType>
			<!-- None | EndsWith | Equals | NotEquals | Starts With | Contains | MatchesPattern -->
			<Pattern></Pattern>
		</TargetFilter>
		<AndConditions />
	</Filters>
	<RulesParser>
		<Name></Name>
		<Path></Path>
		<Parameters></Parameters>
	</RulesParser>
	<Exporter>
		<Name></Name>
		<Path></Path>
		<Parameters></Parameters>
		<ExportRules />
		<ExportDependencies />
		<ExportConcessions />
		<ExportInvalidDependencies />
		<ExportUndeclared />
	</Exporter>
</DependencyInspectorApp>
